In [22]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

In [23]:
df = pd.read_csv("Admission_Predict.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [24]:
X = df[['CGPA', 'GRE Score', 'TOEFL Score']]
Y =df['Chance of Admit ']

## Manual

In [25]:
for i in range(0, len(names)):
    y = X.loc[:, X.columns == names[i]]
    x = X.loc[:, X.columns != names[i]]
    model = sm.OLS(y, x)
    results = model.fit()
    rsq = results.rsquared
    vif = round(1 / (1 - rsq), 2)
    print(
        "R Square value of {} column is {} keeping all other columns as features".format(
            names[i], (round(rsq, 2))
        )
    )
    print(
        "Variance Inflation Factor of {} column is {} \n".format(
            names[i], vif)
        )

R Square value of CGPA column is 1.0 keeping all other columns as features
Variance Inflation Factor of CGPA column is 714.46

R Square value of GRE Score column is 1.0 keeping all other columns as features
Variance Inflation Factor of GRE Score column is 994.37

R Square value of TOEFL Score column is 1.0 keeping all other columns as features
Variance Inflation Factor of TOEFL Score column is 1274.97

## Using Library

In [27]:
# Import library for VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [30]:
X = df[['CGPA', 'GRE Score', 'TOEFL Score']]
calc_vif(X)

     variables          VIF
0         CGPA   714.459325
1    GRE Score   994.365812
2  TOEFL Score  1274.970487